* {
    font-family: Arial;
}

.container {
    width: 65%;
    margin: auto;
}

ul, li {
    list-style: none;
}
.box-navigation {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-top: 2rem;
    border-top: 1px solid #38383833;
    margin: 2rem 0;
}
.box-navigation .tout {
    color: #38383833;
    transition: all .2s ease-in-out;
}
.box-navigation .tout:hover {
    color: #383838;
}
.box-navigation .tout:hover span{
    border-color: #383838;
}
.box-navigation > div {
    position: relative;
    cursor: pointer;
}
.box-navigation > .details-btn {
    color: #2c5cd3;
}
.box-navigation > .details-btn > span {
    border-color: #2c5cd3;
}
.box-navigation > .details-btn > span::before {
    content:'';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #2c5cd3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-navigation > .tout {
    color: #38383833;
}
.box-navigation > .tout > span {
    border-color: #38383833;
    transition: all .2s ease-in-out;
}
.box-navigation > .tout > span::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: #38383833;
}
.box-navigation > .tout > span::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 30%;
    background-color: #38383833;
}
.box-navigation span {
    content: '';
    position: absolute;
    top: -5px;
    left: -30px;
    width: 20px;
    height: 20px;
    border: 2px solid #2c5cd3;
    border-radius: 50%;
}
.timeline-header-title {
    text-transform: uppercase;
}
.timeline-box-title {
    color: #2c5cd3;
    font-size: 2rem;
}
.timeline-text {
    color: #727279
}
.timeline-header {
    display: flex;
    justify-content: space-between;
}
.timeline-box-list {
    position: relative;
    width: 40%;
}
.timeline-box-list .timeline-box {
    /* position: absolute; */
    display: none;
}
.timeline-box.active {
    display: block;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.wrap::after, .wrap::before {
    content: '';
    height: 5px;
    /* background-color: gray; */
    /* width: 100%; */
    position: absolute;
    bottom: 17.5px;
    left: 0;
}
.wrap::before {
    width: 33%;
    z-index: 2;
    background: #2c5cd3;
}
.wrap::after {
    background-color: gray;
    width: 100%;
    z-index: 1;
}

span.circle {
    z-index: 3;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: gray;
    transition: background .6s ease-in-out;
    transition-delay: background .4s;
}

.carousel-seat .year {
    font-size: 2rem;
    transform-origin: center;
    transition: all .2s ease-in-out;
    margin-bottom: 2rem;
}

.carousel-seat.active .year {
    transition-delay: .4s;
    /* text-align: left; */
    /* font-size: 3.5rem; */
    color: #2c5cd3;
    transform: scale(2);
}
.carousel-seat.active .circle {
    z-index: auto;
    background: #2c5cd3;
}
.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}

@media (min-width: 30em) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}

@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

.carousel.is-reversing {
    transform: translateX(-100%);
}

@media (min-width: 30em) {
    .carousel.is-reversing {
        transform: translateX(-50%);
    }
}

@media (min-width: 40em) {
    .carousel.is-reversing {
        transform: translateX(-33.33333%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 0.5s ease-in-out;
}

.carousel-seat {
    position: relative;
    /* background: #ddd; */
    flex: 1 0 100%;
    order: 2;
}

.carousel-seat:nth-child(even) {
    /* background: #d5d5d5; */
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 50%;
    }
}

@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}

h2 {
    color: #aaa;
    font-size: 7em;
    font-weight: normal;
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
}

.controls {
    padding: 1em;
    /* text-align: right; */
}

.controls button {
    /* background: #aaa; */
    border: 0;
    border-radius: 0.25em;
    color: gray;
    padding: 0.5em 1em;
}

.controls button:hover,
.controls button:focus {
    /* background: orange; */
}
